[Unit]
Description=WL Paste service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type %I --watch cliphist store

[Install]
WantedBy=graphical-session.target
