[Unit]
Description=WL Paste service

[Service]
ExecStart=/usr/bin/wl-paste --type %I --watch cliphist store

[Install]
WantedBy=graphical-session.target
